<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About MamaPlate</h2>
                <hr class="light">
                <p class="text-faded">지역에서 더 나은 삶을 가능하게 하고픈 사회혁신가들이 모여 소셜벤처 맘쓰랩을 만들었습니다. 경력단절여성, 청년, 시니어가 함께 일하는 우리마을커뮤니티 공간 ‘마마플레이트’는 마을의 새로운 UP과 업(業)더 건강하고 맛있는 음식과 이야기를 담습니다. </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <img src ="img/about.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
