<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Mama Plate</h2>
                <!--<img src ="img/about title.png" alt="" class="img-responsive2">-->
                <hr class="light">
                <p class="text-faded">지역에서 더 나은 삶을 가능하게 하고픈 사회혁신가들이 모여 소셜벤처 맘쓰랩을 만들었습니다.<br>경력단절여성, 청년, 시니어가 함께 일하는 우리마을커뮤니티 공간 ‘마마플레이트’는<br>마을의 새로운 UP과 업(業)더 건강하고 맛있는 음식과 이야기를 담습니다. </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <img src ="img/about.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                        <h3>사회적기업</h3>
                        <p class="text-muted">국제사회 공동목표인 SDGs의 달성을 우선시 합니다.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>재생지 사용</h3>
                        <p class="text-muted">국제사회 공동목표인 SDGs의 달성을 우선시 합니다.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>로컬 푸드</h3>
                        <p class="text-muted">지구의 숲과 바다 환경을 소중히 여깁니다</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-leaf wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>비건푸드</h3>
                        <p class="text-muted">건강하기 위해 채식을 생각합니다</p>
                    </div>
                </div>
            </div>
        </div>

</section>
