
  <div class="top web_ver">
                  <div class="in_box">
                      <ul class="f_box clearfix">
                          <li>
                              <h2>
                                  <a href="index.php" class="footer_logo">
                                      <img src="../img/icon/logo_typo_n.svg" alt="아이돌봄서비스 째깍악어">
                                  </a>
                              </h2>

                              <p>육아에 도움이 필요할 땐 언제 어디서나<br>째깍악어가 해결하겠습니다</p>
                              <ul>
                                  <li><a href="https://www.facebook.com/tt.croc" target="_blank" title="째깍악어 페이스북"><img src="../img/icon/ic_fb_btn.svg" alt="째깍악어 페이스북"></a></li>
                                  <li><a href="https://www.instagram.com/tictoc_croc" target="_blank" title="째깍악어 인스타"><img src="../img/icon/ic_insta_btn.svg" alt="째깍악어 인스타"></a></li>
                                  <li><a href="https://www.youtube.com/channel/UCjrLW-oSQECG_59dFUFc3Yw" target="_blank" title="째깍악어 유튜브"><img src="../img/icon/ic_ytb_btn.svg" alt="째깍악어 유튜브"></a></li>
                                  <li><a href="https://blog.naver.com/tictoc_croc" target="_blank" title="째깍악어 블로그"><img src="../img/icon/ic_blog_btn.svg" alt="째깍악어 블로그"></a></li>
                                  <li><a href="http://naver.me/F100bZfG" target="_blank" title="째깍악어 네이버포스트"><img src="http://tictoccroc.com/web/img/icon/ic_post_btn.svg" alt="째깍악어 포스트"></a></li>
                              </ul>
                          </li>
                          <li>
                              <p class="tit">사이트 바로가기</p>
                              <a href="http://tictoccroc.com/web/company/recruit.php">인재영입</a>
                              <a href="http://tictoccroc.com/web/company/b2b.php">제휴문의</a>
                          </li>
                          <li>
                              <p class="tit">오시는 길</p>
                               <span>본사/아동창의연구소<br>서울특별시 성동구 왕십리로 115, <br>헤이그라운드 서울숲점 G703</span>
                          </li>
                          <li>
                              <p class="tit">고객지원</p>
                              <dl>
                                  <dt>상담(평일 09:00 ~ 20:00)</dt>
                                  <dd><a href="https://pf.kakao.com/_fXhAu" target="_blank"> · 부모님 카톡상담 @째깍악어</a></dd>
                                  <dd><a href="https://pf.kakao.com/_xexjdmd" target="_blank"> · 선생님 카톡상담 @째깍악어교육신청</a></dd>
                                  <dd><a href="http://pf.kakao.com/_txoxflxb" target="_blank"> · 째깍섬 카톡상담 @째깍섬 키즈클래스</a></dd>
                                  <dd> · 긴급 전화상담<a href="tel:1522-9457"> 1522-9457</a></dd>
                                  <dd>이메일 <a href="mailto:admin@ttcroc.com"> admin@ttcroc.com</a></dd>
                                  <dd><a href="http://tictoccroc.com/web/company/faq.php">자주 묻는 질문(FAQ)</a></dd>
                              </dl>
                          </li>
                      </ul>
                  </div>
              </div>
