<div class="container">
<div style="container-fluid">

                          <div class="row no-gutter">
                              <div class="col-lg-4 col-sm-6">
                                  <a class="portfolio-box">
                                    <div style="text-align: left;">

                                        <p>사업자 정보<br>상호명 주식회사 맘쓰랩(대표이사 김소향) <br>사업자등록번호 482-87-01459<br>통신판매업번호 2020-대구수성구--0014<br>매일 10:00 - 21:00</p>
                                        <!--<p>사업자등록번호 482-87-01459</p>-->
                                    </div>


                                  </a>
                              </div>
                              <div style="text-align: right;">
                                <a>
                                  <address>
                                      <p href="https://www.google.com/maps/place/123+Example+Street%2C+City">

                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                      </svg>

                      대구광역시 수성구 청호로 411 1층 마마플레이트 (42093)
                                      </p>
                                  </address>
                                  </a>
                                  <p class="email">
                                      <p href="mailto:donate@yourwebsite.com">

                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                      </svg>

                      mamaplate@naver.com
                                      </p>

                                  <p class="phone">
                                      <p href="tel:+1-123-456-7891">

                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path>
                      </svg>

                      053-752-3260
                                      </p>

                              </div>

                              <p class="phone">
                                  <p href="https://www.instagram.com/mama_plate/">

                                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path></svg>

                                      mama_plate </p>
                          </div>
    </div>
