<section class="bg-primary" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Menu</h2>
                <hr class="light">
                <p class="text-faded">Now THAT is true, but we love web development even more. We talk about it on our blog, like </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <img src ="img/menu.png" alt="" class="img-responsive2">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<h2 class="section-heading">Menu</h2>-->
                <hr class="light">
                <h3 class="section-heading">Panini</h3>
                <p class="text-faded">Now THAT is true, but we love web development even more. We talk about it on our blog, like </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <img src ="img/panini.png" alt="" class="img-responsive3">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<h2 class="section-heading">Menu</h2>-->
                <hr class="light">
                <h3 class="section-heading">juice</h3>
                <p class="text-faded">Now THAT is true, but we love web development even more. We talk about it on our blog, like </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <img src ="img/juice.png" alt="" class="img-responsive3">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<h2 class="section-heading">Menu</h2>-->
                <hr class="light">
                <h3 class="section-heading">Mamaupbox</h3>
                <p class="text-faded">Now THAT is true, but we love web development even more. We talk about it on our blog, like </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <img src ="img/mamaupbox.png" alt="" class="img-responsive3">
            </div>
        </div>
    </div>
</section>
