<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">People</h2>
                <hr class="light">
                <a>
                  <p class="text-faded">김소향 │ 대표 </p><br>
                <p class="text-faded">문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                  한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                <img src ="img/profile1.png" alt="" class="img-responsive">
                <p class="text-faded">이승환 ㅣ 연구소장 </p><br>
                <p class="text-faded">벽돌공장 옆의 네 세대가 함께 사는 집에서 어린 시절을 보냈다. 그렇게 오래된 공간에 대한 애착을 갖고 공간을 나누는 것에 자연스럽게 되었다. 지금은 어쩌다집이라는 쉐어하우스를 짓고 다양한 사람들과 모여살며 내 공간과 문화를 나누고 있다. 홍익대와 위가건축에서는 건축의 가치와 기본기를, D.P.J & Partners와 한국예술종합학교에서는 열정과 사고방식을 배웠다.</p><br>
                <img src ="img/profile1.png" alt="" class="img-responsive">
                <p class="text-faded">조기한 | 팀장</p><br>
                <p class="text-faded">공간, 불평등, 시민사회, 공공성, 지역, 정책, 공동체 등을 주제로 시민사회와 공공의 영역에서 열정적인 청년의 시기를 보내고 지금은 사회적 가치를 지향하는 기업에서 같은 주제를 현장에 접목시키기 위해 노력하고 있다.
</p><br>
                <img src ="img/profile1.png" alt="" class="img-responsive">

           </div>
        </div>
    </div>
