<section class="bg-primary" id="about">
    <div class="container">
      <h2 class="section-heading">People</h2>
      <hr class="light">


                  <div class="row no-gutter">
                      <div class="col-lg-4 col-sm-6">

                              <img src="img/profile1.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption">

                              </div>
                          </a>
                      </div>
                      <div style="text-align: left;">
                        <a>
                          <p>김소향 | 대표</p><br>
                        <p>문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                          한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                      </div>


              </div>

                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">

                            <img src="img/profile7.png" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">

                            </div>
                        </a>
                    </div>
                    <div style="text-align: left;">
                      <a>
                        <p>이승환 | 연구소장</p><br>
                      <p>문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                        한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                    </div>


            </div>
                                  <div class="row no-gutter">
                                      <div class="col-lg-4 col-sm-6">

                                              <img src="img/profile2.png" class="img-responsive" alt="">
                                              <div class="portfolio-box-caption">

                                              </div>
                                          </a>
                                      </div>
                                      <div style="text-align: left;">
                                        <a>
                                          <p>조기한 | 팀장</p><br>
                                        <p>문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                                          한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                                      </div>


                              </div>
                              <div class="row no-gutter">
                                  <div class="col-lg-4 col-sm-6">

                                          <img src="img/profile6.png" class="img-responsive" alt="">
                                          <div class="portfolio-box-caption">

                                          </div>
                                      </a>
                                  </div>
                                  <div style="text-align: left;">
                                    <a>
                                      <p>박유향 | 커뮤니티매니저</p><br>
                                    <p>문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                                      한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                                  </div>


                          </div>
                          <div class="row no-gutter">
                              <div class="col-lg-4 col-sm-6">

                                      <img src="img/profile4.png" class="img-responsive" alt="">
                                      <div class="portfolio-box-caption">

                                      </div>
                                  </a>
                              </div>
                              <div style="text-align: left;">
                                <a>
                                  <p>류민경 | 커뮤니티매니저</p><br>
                                <p>문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                                  한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                              </div>


                      </div>
                      <div class="row no-gutter">
                          <div class="col-lg-4 col-sm-6">
                              
                                  <img src="img/profile5.png" class="img-responsive" alt="">
                                  <div class="portfolio-box-caption">

                                  </div>
                              </a>
                          </div>
                          <div style="text-align: left;">
                            <a>
                              <p>최장호 | PM</p><br>
                            <p>문학적 감수성과 서정이 더해진다면 건축에 관한 딱딱한 지식과 이론도 얼마든지 말랑해질 수 있다고 믿는 공간기획자. 일찌감치 설계엔 재주가 없는 것을 깨닫고,
                              한국예술종합학교와 마드리드공과대학에서 건축이론과 역사를 공부했다. 그리고 이를 밑천 삼아 지금껏 공간기획과 출판을 병행하고 있다. 세상과 소통하는 실천적 도구로서 건축과 책을 애지중지 품에 안고 산다.</p></a>
                          </div>


                  </div>
      </div>
<section>
