<section class="content__row about__section">




    <picture>

      <img src="/img/panini.png" alt="" class="img-responsive">
    </picture>

          <div class="about__section-content-container">
            <h2 class="about__section-title">파니니</h2>
            <div class="about__section-content">
              <p>Now THAT is true, but we love web development even more. We talk about it on our blog, like, <a href="http://bit.ly/2YA6999">a lot</a>. We often craft live demos and open source these bad boys <a href="https://github.com/snipcart">on GitHub</a>. Matter of fact, this Planty theme <a href="https://github.com/snipcart/stackbit-theme-planty">is open source too</a>! If you spot any bugs, open an issue, and we’ll fire our junior dev. Just kidding Michael, you’re good.</p>

            </div>
          </div>
        </section>
        <section class="content__row about__section">




          <picture>

            <img src="/img/juice.png" alt="" class="img-responsive">
          </picture>

                <div class="about__section-content-container">
                  <h2 class="about__section-title">클렌즈 주스</h2>
                  <div class="about__section-content">
                    <p>Now THAT is true, but we love web development even more. We talk about it on our blog, like, <a href="http://bit.ly/2YA6999">a lot</a>. We often craft live demos and open source these bad boys <a href="https://github.com/snipcart">on GitHub</a>. Matter of fact, this Planty theme <a href="https://github.com/snipcart/stackbit-theme-planty">is open source too</a>! If you spot any bugs, open an issue, and we’ll fire our junior dev. Just kidding Michael, you’re good.</p>

                  </div>
                </div>
              </section>
              <section class="content__row about__section">




                <picture>

                  <img src="/img/mamabx.png" alt="" class="img-responsive">
                </picture>


                      <div class="about__section-content-container">
                        <h2 class="about__section-title">마마업박스

                        </h2>
                        <div class="about__section-content">
                          <p>Now THAT is true, but we love web development even more. We talk about it on our blog, like, <a href="http://bit.ly/2YA6999">a lot</a>. We often craft live demos and open source these bad boys <a href="https://github.com/snipcart">on GitHub</a>. Matter of fact, this Planty theme <a href="https://github.com/snipcart/stackbit-theme-planty">is open source too</a>! If you spot any bugs, open an issue, and we’ll fire our junior dev. Just kidding Michael, you’re good.</p>

                        </div>
                      </div>
                    </section>
